<html>
    <head>
        <title>Named Entity Finder</title>
    </head>>    
    <body>
        <h1 id="heading" 
            data-tid="heading">
            Named Entity Finder
        </h1>>
        <input id="input-text" data-tid="input-text" class="form-control">
        <button class="btn btn-outline-primary" 
                data-tid="find-button" 
                type="button" 
                id="find">
                Find Named Entities
        </button>>
        <table id="ner-table" data-tid="ner-table" class="table table-bordered">
            <thead class="thead dark">
                <tr>
                    <th>Entity</th>>
                    <th>Type</th>>
                </tr>>
            </thead>>
            <tbody>
            </tbody>
        </table>
    </body>>
</html>